# Configuración sensible
.env
~.awscredentials
clave-google-cloud.json

# Ignorar cachés y archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos de logs
*.log

# Ignorar configuraciones locales de IDEs
.vscode/
.idea/

# Ignorar carpetas generadas automáticamente
node_modules/
dist/
build/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

# Ignorar configuraciones temporales del entorno
*.tmp
*.envrc

# Ignorar configuraciones de servicios
.aws/
.boto
.docker/
.dotnet/
.gcloud/

# Ignorar archivos específicos
*.ini
*.DAT*
