# Configuración del sistema y carpetas personales
.aws/
.boto
.docker/
.dotnet/
.gitconfig
.gsutil/
.idlerc/
.lesshst
.ssh/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved/
Searches/
Videos/

# Archivos temporales y de sistema
*.DAT
*.ini
ntuser.*

# Ignorar dependencias
node_modules/

# Archivos sensibles
*.json
clave-google-cloud.json

# Otros no relacionados con el proyecto
package-lock.json
activate
dir
cd
